# Ignore Python virtual environments
venv/
.venv/
env/
__pycache__/

# Ignore compiled Python files
*.pyc
*.pyo
*~.py[cod]

# Ignore environment variables file
.env

# Ignore log files
*.log
logs/

# Ignore database files (if you're using SQLite)
*.sqlite3
*.db

# Ignore IDE-specific files
.idea/
.vscode/
*.suo

# Ignore specific files
last_known_revision.txt

# Ignore specific project directories
yugisearcher/build/
yugioh-card-history-main/